:root {
    --primary-color: #004799; /*(Royal Blue)*/
    --secondary-Color: #a2071b; /*(Heart Red)*/
    --text-color: #333333; /*(Dark Charcoal)*/
    --bg-color: #F9FAFB; /*(Off-White/Light Gray)*/
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", "Open Sans" sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 1.6;
}
/***************HEADER**********************/
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items:end;
     
    
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2 rem;
    color: var(--text-color)
}


/****************HAMBURGER NAVIGATION **********/
.hamburger {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}    

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 2rem;
}