:root {
    --primary-color: #1d2772; 
    --secondary-color: ##0ad3d6;
    --accent-color: #e2e0e0;
    --accent-color1: #b0b1ba;
    --font-color: #f8f9fa;
    --font-color1: #000000;
    --font-color2: #0911FB;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Lato", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}